<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Altea Care.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>119</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
				<key>dateExpires</key>
				<string>24/09/22</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DLRadioButton.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebasePerformance.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JGProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MOAnalytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MOInApp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MOMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MORichNotification.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MSPeekCollectionViewDelegateImplementation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MoEngage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MoEngageCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NotificationBannerSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PanModal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PasswordTextField.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDDownloadManager.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SkeletonView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TwilioChatClient.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TwilioVideo.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>119</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE59D60B3E406A067000E89A884B9612702DE55B</string>
						<key>dateExpires</key>
						<string>24/09/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>55RDZTV4YP.com.mitrakeluarga.AlteaCare.debuging.NotificationService</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>55RDZTV4YP</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>55RDZTV4YP.com.mitrakeluarga.AlteaCare.debuging.NotificationService</string>
						</array>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>5f6d384e-b799-4645-921c-22ab0e487608</string>
						<key>dateExpires</key>
						<string>26/11/22</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.mitrakeluarga.AlteaCare.debuging.NotificationService</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>55RDZTV4YP</string>
						<key>name</key>
						<string>PT. SEHAT DIGITAL NUSANTARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>55RDZTV4YP.com.mitrakeluarga.AlteaCare.debuging</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>55RDZTV4YP</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.mitrakeluarga.AlteaCare.NotificationServices</string>
					<string>group.com.mitrakeluarga.AlteaCare.debuging.MoEngage</string>
					<string>group.com.mitrakeluarga.AlteaCare.debuging.NotificationServices</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Altea Care.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e7931df9-dbe9-4b2f-8483-592f618f40fa</string>
				<key>dateExpires</key>
				<string>26/11/22</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.mitrakeluarga.AlteaCare.debuging</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>55RDZTV4YP</string>
				<key>name</key>
				<string>PT. SEHAT DIGITAL NUSANTARA</string>
			</dict>
			<key>versionNumber</key>
			<string>1.4.0</string>
		</dict>
	</array>
</dict>
</plist>
